/* write your css here */


.heading{

  color: #03989e;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
   
   margin-left: 0;
    
   
}

.title{
     
  font-family: Titillium Web, sans-serif;
  font-style: normal;
    font-weight: 700;
    color: #03989e;
    cursor : pointer ;
    letter-spacing: .02em;
    line-height: 33px;
     
}

.image{
    height: 18vw;

    width : 100%
}

